# Ignore outputs
*.txt
*.pdf
outputs/

Duffing/outputs/
Duffing/*.txt
Duffing/*.pdf
Duffing/tests_hidden



Duffing/Fig4_abde/*.pdf
Duffing/Fig4_cf/*.pdf


Duffing/tests_hidden/
Duffing/Fig3/tests_hidden/
Duffing/Fig3/*.txt
Duffing/Fig3/outputs

Duffing/Fig4_abde/dataset*.pdf
Duffing/Fig4_abde/global*.pdf

Duffing/Fig4_cf/dataset*.pdf
Duffing/Fig4_cf/global*.pdf
Duffing/Fig4_cf/tests_hidden/

Duffing/Fig5_and_8/NN-CC/tests_hidden/
Duffing/Fig5_and_8/SINDy_Poly/tests_hidden/
Duffing/Fig5_and_8/SINDy_Poly/outputs/
Duffing/Fig5_and_8/SR-CC/tests_hidden/
Duffing/Fig5_and_8/SR-CC/outputs
Duffing/Fig5_and_8/SR-CC/sr_warnings.log
Duffing/Fig5_and_8/SR-CC/output.txt

Duffing/Fig6_ICs/*.txt
Duffing/Fig6_ICs/outputs/
Duffing/Fig6_ICs/time*.pdf

Duffing/Fig7_phase_space/output_log.txt

Duffing/Figs_F15_F15_Appendix_F/tests_hidden/
Duffing/Figs_F15_F15_Appendix_F/F15ab_NN_CC/outputs/
Duffing/Figs_F15_F15_Appendix_F/F15ab_NN_CC/output_log.txt
Duffing/Figs_F15_F15_Appendix_F/F15cd_SINDy_Poly_CC/outputs/
Duffing/Figs_F15_F15_Appendix_F/F15cd_SINDy_Poly_CC/output_log.txt
Duffing/Figs_F15_F15_Appendix_F/F15cd_SINDy_Poly_CC/tests_hidden

Duffing/Figs_F15_F15_Appendix_F/F15ef_SR_CC/outputs/
Duffing/Figs_F15_F15_Appendix_F/F15ef_SR_CC/output.txt
Duffing/Figs_F15_F15_Appendix_F/F15ef_SR_CC/tests_hidden/
Duffing/Figs_F15_F15_Appendix_F/F15ef_SR_CC/*.log


Stick-slip/outputs/
Stick-slip/*.txt
Stick-slip/*.pdf
Stick-slip/tests_hidden/

Stick-slip/Fig10/outputs/
Stick-slip/Fig10/tests_hidden/
Stick-slip/Fig10/output_log.txt
Stick-slip/Fig10/*.txt

Stick-slip/Fig11_Fig12_CCs_and_RMSE/NN-CC/tests_hidden/
Stick-slip/Fig11_Fig12_CCs_and_RMSE/NN-CC/output.txt
Stick-slip/Fig11_Fig12_CCs_and_RMSE/NN-CC/output_log.txt
Stick-slip/Fig11_Fig12_CCs_and_RMSE/tests_hidden/

Stick-slip/Fig11_Fig12_CCs_and_RMSE/SINDy_Poly/tests_hidden/
Stick-slip/Fig11_Fig12_CCs_and_RMSE/SINDy_Poly/output.txt
Stick-slip/Fig11_Fig12_CCs_and_RMSE/SINDy_Poly/output_log.txt

Stick-slip/Fig11_Fig12_CCs_and_RMSE/SR-CC/tests_hidden/
Stick-slip/Fig11_Fig12_CCs_and_RMSE/SR-CC/output.txt
Stick-slip/Fig11_Fig12_CCs_and_RMSE/SR-CC/outputs/
Stick-slip/Fig11_Fig12_CCs_and_RMSE/SR-CC/*.log

Stick-slip/FigF16_F17_Appendix_F/output_log.txt
Stick-slip/FigF16_F17_Appendix_F/NN_CC/tests_hidden/
Stick-slip/FigF16_F17_Appendix_F/SINDy_Poly_CC/tests_hidden/
Stick-slip/FigF16_F17_Appendix_F/SR_CC/tests_hidden/



